<div *ngIf="mostrar"> 
{{ informacion.nombre }} <br>
{{ informacion.direccion }}
</div>
<br>
<div class="btn">
  <button class="boton" type="button" (click)="mostrar = !mostrar">Mostrar/Ocultar</button>
</div>